<body>
  <div class="container-fluid" style="padding: 0px;">
    <div class="row">
      <!-- Header -->
      <header class="col-xs-12" id="header">
        <h1 class="brand"><%= link_to "Odin's Eye", root_path %></h1>
        <nav id="nav">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <% if !current_user %>
              <li><a href="#">About</a></li>
              <li><a href="#">Pricing</a></li>
              <li><%= link_to "Sign in", "/auth/twitter", :class => "button special"%></li>
            <% else %>
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><a>Settings</a></li>
              <li><%= link_to "Sign out", "/logout", :class => "button special" %></li>

              <script type="text/javascript">
                (function(e,t,n,r){function i(e,n){e=t.createElement("script");e.async=1;e.src=r;n=t.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)}e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)};e.attachEvent?e.attachEvent("onload",i):e.addEventListener("load",i,false)})(window,document,"_castle","//d2t77mnxyo7adj.cloudfront.net/v1/c.js")
                _castle('setAppId', '<%= ENV["CASTLE_APP_ID"] %>');
                _castle('identify', '<%= @user.id %>', {
                  name: '<%= @user.first_name + " " + @user.last_name %>',
                  email: '<%= @user.email %>'
                });
                _castle('trackPageview');
              </script>

            <% end %>
          </ul>
        </nav>
      </header>
    </div>
