<!DOCTYPE html>
<html>
<head>
  <title>Tweetin'</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "skel.min" %>
  <%= javascript_include_tag "skel-layers.min" %>
  <noscript>
    <%= stylesheet_link_tag 'skel' %>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'style-xlarge' %>
  </noscript
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <!-- Include castle.io tracking -->
</head>

<%= yield %>

</html>
