<!DOCTYPE html>
<html>
<head>
  <title>TwitterTrends</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <div class="row">
      <nav class="navbar navbar-default main-nav">
        <div class="navbar-header">
          <%= link_to "Tweentin'", root_path, :class => "navbar-brand" %>
        </div>
      </nav>
    </div>

    <% if flash[:notice] %>
      <div class="alert alert-danger alert-dismissible clear" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Ooops!</strong> <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
